# LLM APIs
backoff
openai
vastai-sdk
# Viz
matplotlib
pypdf
pymupdf4llm
seaborn
# Common Requirements
numpy
scikit-learn
transformers
datasets
tiktoken
wandb
tqdm
rich
humanize
dataclasses-json
funcy
black
genson
shutup
python-igraph
coolname
jsonschema
omegaconf
